*
!app
!bin
!config
!db
!lib
!public/*.html
!public/*.png
!public/favicon.ico
!public/robots.txt
!config.ru
!Gemfile
!Gemfile.lock
!package.json
!yarn.lock
!.postcssrc.yml
!.babelrc
!Rakefile
!log/.keep
!tmp/.keep
